body {
  background-image: linear-gradient(to right, blue, purple);
  font-family: "
    JetBrains Mono", sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circle-shape {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 0 auto;
}
.profile-pic {
  margin: 0 auto;
  height: 100%;
  width: 110%;
}

a {
  color: #fef5ef;
  padding-top: 10px;
  text-decoration: none;
}

#insta-link-bone {
  color: #fff;
  background-image: linear-gradient(to right, orange, red);
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  transition: all 0.15s;
  border-radius: 40px;
  text-decoration: bold;
}

#insta-link-bone:hover {
  border: 3px solid #fef5ef;
}

.ig-link {
  margin: 10px 0;
  font-weight: bold;
}
